html {
    bottom: 0;
}

body {
    height: 100vh;
    background: linear-gradient(to right top, rgb(211,211,211), white 70%);
    background-attachment: fixed; /*edit*/
    font-family: 'Ubuntu Mono', sans-serif;
    background-color: black;
}

body::before
{
    display: block;
    content: '';
    height: 60px;
}

.nav-link{
    font-size: large;
    font-family: 'Ubuntu Mono', sans-serif;
}

.nav-custom {
    color: white;
    transition: .15s;
}

.nav-custom:hover{
    opacity: 60%;
}

.nav-custom::after{
    font-weight: bold;
    content: "|";
    opacity: 0%;
    border-bottom: none;
}

.nav-custom:hover::after{
    opacity: 0%;
    animation: blink 1s infinite;
}

.circle-animation-hover{
    outline: 3px solid white;
    outline-offset: 2px;
    border-radius: 50%;
    transition: 0.8s;
}

.circle-animation-hover:hover{
    outline-offset: 70px;
    transform: rotate(8deg);
    cursor: pointer;
}

.link-selected{
    border-bottom: 2px solid white;
}

.link-selected::after{
    border-bottom: none;
}

.main-title{
    font-family: 'Ubuntu Mono', sans-serif;
    transition: .15s;
    font-size: 5vw;
}

.sub-title{
    font-family: 'Ubuntu Mono', sans-serif;
    font-size: 2.5vw;
    padding: 0;
    white-space: pre;
}

.sub-title::before{
    content: '   ';
}

.sub-title::after{
    content: '   '
}

.page-title{
    font-family: 'Ubuntu Mono', sans-serif;
    font-size: 2.8vw;
    white-space: pre;
}

.page-title::after{
    content: '|';
    animation: blink 1s infinite;
    opacity: 0%;
}

.page-title::before{
    content: '  ';
}

 .main{
    font-family: 'Ubuntu Mono', sans-serif;
    font-size: 2.6vw;
    color: black;
    transition: .15s;
    text-decoration: none;
    list-style: none;
    opacity: 0%;
 }

 .main:hover{
 }

 .main a::after{
    content: "|";
    opacity: 0%;

 }

 .main:hover::after{
    opacity: 0%;
    animation: blink 1s infinite;
}

.loader {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
}

.social-items a{
    font-size: xx-large;
    color: white;
    transition: .15s;
}

.social-items a:hover{
    opacity: 60%;
}

.footer-button {
    cursor: default;
}

.bi {
    transition: .15s;
}

.bi:hover {
    opacity: 60%;
    cursor: pointer;
}

.background {
    background-image: url(images/newGram\ full\ transparent\(Background\).png);
    background-size: 120vh;
    background-repeat: no-repeat;
    background-position-y: 0vh;
    background-position-x: 45vw;
    min-height: 85vh;
    overflow: hidden;
    transition: .15s;
}

.black-border{
    border: 5px solid black;
    border-color: black;
    border-radius: 10px;
    background: black;
}

.image-selector{
    opacity: 100%;
    transition: .05s;
    width: 50%;
    outline: 0px solid black;
    outline-offset: 0px;
    border-radius: 50%;
}

.image-selector:hover{
    border: 0px solid black;
    opacity: 70%;
    cursor: pointer;
    outline: 5px solid black;
    outline-offset: 0px;
    border-radius: 50%;
}

.para-carousel{
    color: white;
    background-color: rgb(0,0,0,.6);
    border-radius: 10%;
}


.para{
    font-size: 15pt;
}

.para a{
    color: black;
}

.icon::after {
    content: "\f185";
    font-family: "Font Awesome 5 Free";
}

.clicked::after {
    content: "\f186";
    font-family: "Font Awesome 5 Free";
}

.icon {
    transition: .15s;
    color: white;
    font-size: xx-large;
}

.icon-div:hover{
    opacity: 60%;
    cursor: pointer;
}

.icon-div {
    transition: .15s;
}

form input, textarea {
    border: none;
    outline: solid;
    outline-width: 2px;
    background-color: #f5f5f5;
    border-radius: 3px;
    transition: all .15s;
    font-size: 15pt;
}

form input{
    width: 50%;
}

form label {
    font-size: 15pt;
}

form textarea:focus, input:focus {
    filter: drop-shadow(0 0 .1em black);
}

form button {
    padding: 15px;
    background-color: rgb(15,15,15);
    color: white;
    font-size: 18px;
    border: 1px;
    border-radius: 3px;
    width: 150px;
    margin: 20px auto 0;
    transition: all .15s;
}

form button:hover {
    filter: drop-shadow(0 0 .1em black);
    opacity: 90%;
}



@media screen and (max-width: 767px) {
    .sub-title::before{
        content: "";
    }
    
    .sub-title::after{
        content: '   '
    }

    .main-title{
        font-size: xx-large;
    }

    .sub-title{
        font-size: larger;
    }

    .page-title{
        font-size: x-large;
    }

    .main{
        font-size: larger;
    }
    .image-selector{
        width: 100%;
    }
    .image-selector:hover{
        width: 1100%;
    }
    .para{
        font-size: 13pt;
    }

    form input{
        width: 100%;
    }
  }

  @media screen and (max-width: 1200px) {
  }

@keyframes blink {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    51% {
        opacity: 0;
    }
}