html {
    max-height: 100vh;
    scrollbar-width: normal;
    scrollbar-color: #777 #212529;
    scrollbar-arrow-color: #777;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right top, rgb(201,201,201), white 70%);
    background-attachment: fixed;
    font-family: 'Ubuntu Mono', sans-serif;
    background-repeat: no-repeat;
    cursor: url('images/cursor-auto.png'), auto;
}


body::before
{
    display: block;
    content: '';
    height: 60px;
}

label{
    cursor: url('images/cursor-auto.png'), auto;
}

canvas:hover{
    cursor: url('images/cursor-draw.png'), auto;
}
canvas{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size:contain;
    overflow: auto;
}

::selection {
    background: black;
    color: white;
}

/* For Firefox */
::-moz-selection {
    background: black;
    color: white;
}

nav ::selection{
    background: white;
    color: black;
}

nav ::-moz-selection{
    background: white;
    color: black;
}

footer ::selection{
    background: white;
    color: black;
}

footer ::-moz-selection{
    background: white;
    color: black;
}

.nav-link{
    font-size: large;
    font-family: 'Ubuntu Mono', sans-serif;
}

.nav-custom {
    color: white;
    transition: .15s;
}

.nav-custom:hover{
    opacity: 60%;
}

.nav-custom::after{
    font-weight: bold;
    content: "|";
    opacity: 0%;
    border-bottom: none;
}

.nav-custom:hover::after{
    opacity: 0%;
    animation: blink 1s infinite;
}

#demon-realm{
    overflow: hidden;
}


.circle-animation-hover{
    outline: 3px solid white;
    outline-offset: 2px;
    border-radius: 50%;
    transition: 0.15s;
}

.circle-animation-hover:hover{
    outline-offset: 8px;
    transform: rotate(8deg);
    /* cursor: pointer; */
}

.link-selected{
    border-bottom: 2px solid white;
}

.link-selected::after{
    border-bottom: none;
}

.main-title{
    font-family: 'Ubuntu Mono', sans-serif;
    transition: .15s;
    font-size: 5vw;
}

.sub-title{
    font-family: 'Ubuntu Mono', sans-serif;
    font-size: 2.5vw;
    padding: 0;
    white-space: pre;
}

.sub-title::before{
    content: '   ';
}

.sub-title::after{
    content: '   '
}

.page-title{
    font-family: 'Ubuntu Mono', sans-serif;
    font-size: 2.8vw;
    white-space: pre;
}

.page-title::after{
    content: '|';
    animation: blink 1s infinite;
    opacity: 0%;
}

.page-title::before{
    content: '  ';
}

.modal-title{
    font-family: 'Ubuntu Mono', sans-serif;
    font-size: x-large;
}

.modal-title::after{
    content: '|';
    animation: blink 1s infinite;
    opacity: 0%;
}

.modal-title::before{
    content: '  ';
}

#modalSettings{
    stroke: 400px!important;
}

.btn-close:focus{
    box-shadow: none;
}


 .main{
    font-family: 'Ubuntu Mono', sans-serif;
    font-size: 2.6vw;
    color: black;
    transition: .15s;
    text-decoration: none;
    list-style: none;
    opacity: 0%;
 }

 .main a::after{
    content: "|";
    opacity: 0%;
 }

 .main a:hover{
    display: inline-block; 
    opacity: 50% !important;
    transform: translateY(-3px) !important;
    transition: .15s;
}

 .main:hover::after{
    opacity: 0%;
    animation: blink 1s infinite;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: white;
    z-index: 1;
}

.social-items a{
    font-size: xx-large;
    color: white;
    transition: .15s;
}

.social-items a:hover{
    opacity: 60%;
    /* cursor: pointer; */
}

.footer-button {
    /* cursor: pointer; */
}

.bi {
    transition: .15s;
}

.bi:hover {
    opacity: 60%;
    /* cursor: pointer; */
}

.background-logo{
    top: 60vh;
    left: 75vw;
    min-height: 120vh;
    max-height: 120vh;
    pointer-events: none;
    animation: rotateLogo 200s linear infinite; /* Adjust the duration as needed */
    position: absolute;
    height: 125%;
    z-index: -10;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}



.wrapper{
    overflow: hidden; 
    position: relative;
    background: radial-gradient(circle, transparent 20%, rgb(201,201,201) 100%);
}

@keyframes rotateLogo {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.background {
    background-size: 120vh;
    background-repeat: no-repeat;
    background-position-y: 0vh;
    background-position-x: 45vw;
    min-height: 85vh;
    overflow: hidden;
    transition: .15s;
}

.static-overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    inset: -200%;
    background-size:contain;
    overflow: auto;
    background: url(images/image.png);
    opacity: 4%;
    z-index: 200;
    animation: shift .25s linear infinite both;
    pointer-events: none;
    transition: .25s;
}

@keyframes shift {
    0%{
        transform: translateX(10%) translateY(10%);
    }
    100%{
        transform: translateX(-10%) translateY(-10%);
    }
}

.icon-settings{
    transition: .15s ease-in-out;
}

.icon.settings{
    font-size: x-large;
}

.visible {
    transform: translateX(0px);
    opacity: 1;
}

.hidden {
    transform: translateX(80px);
    opacity: 0;
    pointer-events: none;
}

.black-border{
    border: 5px solid black;
    border-radius: 10px;
    background: black;
}

.image-selector{
    opacity: 100%;
    transition: .05s;
    width: 50%;
    outline: 0px solid;
    outline-offset: 0px;
    border-radius: 50%;
}

.image-selector:hover{
    border: 0px solid black;
    opacity: 70%;
    /* cursor: pointer; */
    outline: 5px solid black;
    outline-offset: 0px;
    border-radius: 50%;
}

.image-normal{
    opacity: 100%;
    transition: .05s;
    width: 47%;
    outline: 0px solid;
    outline-offset: 0px;
}

.para-carousel{
    color: white;
    background-color: rgb(0,0,0,.6);
    border-radius: 10%;
}

a {
    all: unset;
}

.para{
    font-size: 15pt;
}

.para a{
    text-decoration: underline;
    transition: .15s;
}

.para a:hover{
    /* cursor: pointer; */
    opacity: 60%;
}

.clicked::after {
    content: "\f186";
    font-family: "Font Awesome 5 Free";
}

.icon {
    transition: .15s;
    color: white;
    font-size: xx-large;
}

.icon:hover{
    opacity: 60%;
    /* cursor: pointer; */
}


form input, textarea {
    border: none;
    outline: solid;
    outline-width: 2px;
    border-radius: 3px;
    transition: all .15s;
    font-size: 15pt;
}

form input{
    width: 50%;
}

form label {
    font-size: 15pt;
}

form textarea:focus, input:focus {
    filter: drop-shadow(0 0 .1em black);
}

form button {
    padding: 15px;
    background-color: black;
    color: white;
    font-size: 18px;
    border: 1px;
    border-radius: 3px;
    width: 150px;
    margin: 20px auto 0;
    transition: all .15s;
}

button:hover {
    filter: drop-shadow(0 0 .1em black);
    opacity: 90%;
}

footer{
    z-index: 201;
}

.selection {
    transition: .15s;
}

.selection:hover{
    transform: scale(102.5%);
    filter: drop-shadow(0 0 .2em black);
}

.modal-icon{
    font-size: xx-large; 
    color: black;
    transition: .15s;
}

.modal-icon:hover{
    opacity: 60%;
    /* cursor: pointer; */
}

.card-image{
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

.stars {
    text-align: center;
    font-size: x-large;
}

.star {
    filter: drop-shadow(0 .05em .05em black);
}



@media screen and (max-width: 767px) {

    .background-logo{
        display: none;
    }

    .navbar-nav.icon-div{
        flex-direction: row;
        padding-top: 50px;
        justify-content: space-evenly;
    }

    #settings{
        display: none !important;
    }

    .icon-settings{
        opacity: 1;
        transform: translateX(0);
    }

    .sub-title::before{
        content: "";
    }
    
    .sub-title::after{
        content: '   '
    }

    .main-title{
        font-size: xx-large;
    }

    .sub-title{
        font-size: larger;
    }

    .page-title{
        font-size: x-large;
    }

    .modal-title{
        font-size: x-large;
        white-space: normal;
        overflow: visible;
        text-align: center;
    }

    .main{
        font-size: larger;
    }
    .image-selector{
        width: 100%;
    }
    .image-selector:hover{
        width: 1100%;
    }
    .para{
        font-size: 13pt;
    }

    form input{
        width: 100%;
    }
  }

  @media screen and (max-width: 1200px) {
  }

@keyframes blink {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    51% {
        opacity: 0;
    }
}